@use 'utils';

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - utils.$headerHeight);

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .actions {
    display: flex;
    flex: 0 0 60px;

    .start-championship {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 560px;

      .mat-mdc-form-field {
        width: 300px;
        margin-right: 10px;
      }
    }
  }

  .fixtures-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    flex: auto;
    overflow: auto;

    .round {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      h2 {
        margin-bottom: 10px;
      }

      .round-fixtures {
        display: flex;
        flex-direction: column;

        .fixture {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 800px;
          margin-top: 10px;

          .home {
            display: flex;
            flex: 1 0 200px;
            flex-direction: column;
            justify-content: right;
            align-items: center;
          }

          .away {
            display: flex;
            flex: 1 0 200px;
            flex-direction: column;
            justify-content: left;
            align-items: center;
          }

          .teams-sep {
            display: flex;
            justify-content: center;
            flex: 30px 0 0;
          }

          .team-logo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
  }
}