.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .fixture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin-top: 10px;
    ;

    .home-name {
      display: flex;
      flex: 1 0 200px;
      flex-direction: column;
      justify-content: right;
      align-items: center;
    }

    .away-name {
      display: flex;
      flex: 1 0 200px;
      flex-direction: column;
      justify-content: left;
      align-items: center;
    }

    .teams-sep {
      display: flex;
      justify-content: center;
      flex: 30px 0 0;
    }

    .team-logo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}