@use 'utils';

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - utils.$headerHeight);
  margin-top: 20px;
  margin-left: 20px;
  flex: auto;
  overflow: auto;

  .round {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .round-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin-bottom: 10px;
      }

      .round-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
      }
    }

    .round-fixtures {
      display: flex;
      flex-direction: column;

      .fixture {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 800px;
        height: 70px;;
        margin-top: 10px;

        .home {
          display: flex;
          flex: 1 0 200px;
          flex-direction: column;
          justify-content: right;
          align-items: center;

          .name {
            font-size: 1.2em;
            font-weight: bold;
          }
        }

        .away {
          display: flex;
          flex: 1 0 200px;
          flex-direction: column;
          justify-content: left;
          align-items: center;

          .name {
            font-size: 1.2em;
            font-weight: bold;
          }
        }

        .teams-sep {
          display: flex;
          justify-content: center;
          flex: 30px 0 0;
        }

        .team-logo {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
  }
}