.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filler {
    display: flex;
    flex: 1 0 100px;
  }

  .user-info-container {
    display: flex;
    flex-direction: row;

    .user-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .user-img {
        border-radius: 9999px;
        height: 2.5rem;
        width: 2.5rem;
        max-width: 100%;
      }

      .user-name {
        font-size: 0.9rem;
        padding: 0 4px;
      }
    }
  }

  .menu-admin {
    margin-right: 12px;
  }
}

a.title {
  color: inherit;
  text-decoration: none;
}