.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filler {
    display: flex;
    flex: 1 0 100px;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

    .menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 12px;
      font-size: 1.1rem;
      color: var(--color-text);
      text-decoration: none;

      &:hover {
        color: var(--color-primary);
        cursor: pointer;
      }
    }

    .menu-item.active {
      color: var(--color-primary);
      font-weight: bold;
    }

    .menu-item.disabled {
      color: var(--color-text-disabled);
      pointer-events: none;
    }

    .menu-item.disabled:hover {
      color: var(--color-text-disabled);
    }

    .menu-item.active:hover {
      color: var(--color-primary);
    }
  }

  .user-info-container {
    display: flex;
    flex-direction: row;

    .user-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .user-img {
        border-radius: 9999px;
        height: 2.5rem;
        width: 2.5rem;
        max-width: 100%;
      }

      .user-name {
        font-size: 0.9rem;
        padding: 0 4px;
      }
    }
  }

  .menu-admin {
    margin-right: 12px;
  }
}

a.title {
  color: inherit;
  text-decoration: none;
}