<mat-toolbar color="primary" class="header">
  <a href="/" class="title">
    <mat-icon class="material-symbols-outlined">trophy</mat-icon>
    <span>League Manager</span>
  </a>
  <div class="filler"></div>
  @if(user$ | async; as user) {

  @if (userRole === UserRole.AppAdmin) {
  <button mat-button [matMenuTriggerFor]="adminMenu" class="menu-admin">Admin</button>
  <mat-menu #adminMenu="matMenu">
    <button mat-menu-item [routerLink]="['/admin-users']" routerLinkActive="router-link-active">Users</button>
  </mat-menu>
  }

  <div class="user-info-container">
    <div class="user-info">
      <img class="user-img" [src]="user?.photoURL" [alt]="user?.displayName" />
      <span class="user-name">{{user?.displayName}}</span>

      <button mat-icon-button [matMenuTriggerFor]="signInMenu" aria-label="User menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #signInMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="this.authSvc.logout()">
          <mat-icon>logout</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </div>
  </div>
  }
</mat-toolbar>