.container {
  display: flex;
  flex-direction: column;

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .table-players {
    flex: 1 0 200px;
  }

  .mat-mdc-table {
    overflow: auto;
    max-height: 800px;
  }

  .mat-mdc-header-cell {
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
  }

  .mat-mdc-cell {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
  }
  
  .mat-column-idx {
    flex: 0 0 60px;
    justify-content: flex-end;
  }
  
  .mat-column-displayName {
    flex: 1 0 120px;
  }
  
  .mat-column-age {
    flex: 0 0 40px;
  }

  .mat-column-team {
    flex: 1 0 60px;
  }
  
  .mat-column-position {
    flex: 1 0 80px;
  }
  
  .mat-column-dateStarted {
    flex: 0 0 140px;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
}
