$headerHeight: 64px;

.app-header {
  height: $headerHeight;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.app-container {
  display: flex;
  flex-direction: column;
  background-color: #dbdbdb;
  height: calc(100% - $headerHeight);
  padding: 2px 2px;
}